@model AdventureWorksSales.Web.Models.ProductCategoryModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h4>
            Create New Product Category
        </h4>
        <br />
        <p class="text-success">@ViewBag.Message</p>
    </div>
    @Html.Partial("_CreateOrEdit", Model)
}
